

<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--Let browser know website is optimized for mobile-->
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
          .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  height: 50px;
}
 
          
        </style>   
    </head>
  
    <body>
    
       
        <!-- Dropdown Structure -->
     <ul id="dropdown1" class="dropdown-content">
      <li><a href="/page3/">ENERGY DRINKS</a></li>
      <li><a href="/page3/">PROTEIN POWDER</a></li>
      
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/page5/">TREADMILL</a></li>
      <li><a href="/page5/">FITNESS CYCLE</a></li>
    
      <li><a href="/page5/">DUMBBELL</a></li>
      
      <li><a href="/page5/">STEPPER</a></li>
      <li><a href="/page5/">CHEST PRESS</a></li>
      <li><a href="/page5/">BICEP CURL</a></li>
      <li><a href="/page5/">AIR WALKER</a></li>
    </ul>
    
   <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">GYMKHANA</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home/">HOME</a></li>
        <li><a href="/page2/">GYM</a></li>
        <li><a href="/page4/">ACCESSORIES</a></li>
      <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">EQUIPMENTS<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">NUTRITION<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="waves-effect waves-light btn blue white-text">LOG IN</a></li> 
        
      </ul>
    </div>
  </nav>
        <section>
       
        </section>
       <style>
            nav{
              position:not fixed;
              background:black;
              padding:0px 20px;
             }
             nav li a:hover{
               background:red
             }
       
       </style>
       <div class="parallax-container">
      <div class="parallax"><img src="gym.jpg"></div>
    </div>
    <div class="section black">
       <div><h1 class="center-align"><font color="white" size="7" face="Comic Sans MS">ACCESSORIES</font></h1></div>
    <div class="row container">
        <div class="section">
    <div class="container">
         <div class="row">
          <div class="col s11 l3">
            <div class="card ">
              <div class="card-image">
                <img src="back.jpg">
                 
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                 <p></p>
              </div>
              <div class="card-action">
                <button data-target="modal11" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal11" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
              </div>
            </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p> </p>
               </div>
               <div class="card-action">
                <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
          </div>
  </div>
  <br><br><br>
  <div class="divider"></div>
  <div class="section">
    <div class="container">
         <div class="row">
          <div class="col s11 l3">
            <div class="card">
              <div class="card-image">
                <img src="back.jpg">
                 
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                 <p> </p>
              </div>
              <div class="card-action">
                <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
              </div>
            </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p> </p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
          </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="container">
         <div class="row">
          <div class="col s11 l3">
            <div class="card">
              <div class="card-image">
                <img src="back.jpg">
                 
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                 <p></p>
              </div>
              <div class="card-action">
                <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
              </div>
            </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
          </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="container">
         <div class="row">
          <div class="col s11 l3">
            <div class="card">
              <div class="card-image">
                <img src="back.jpg">
                 
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                 <p></p>
              </div>
              <div class="card-action">
                <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
              </div>
            </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
          </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="container">
         <div class="row">
          <div class="col s11 l3">
            <div class="card">
              <div class="card-image">
                <img src="back.jpg">
                 
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                 <p></p>
              </div>
              <div class="card-action">
                <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
              </div>
            </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
          </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="container">
         <div class="row">
          <div class="col s11 l3">
            <div class="card">
              <div class="card-image">
                <img src="back.jpg">
                 
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                 <p></p>
              </div>
              <div class="card-action">
                <button data-target="modal1" class="btn modal-trigger">BUT</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
              </div>
            </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
           <div class="col s11 l3">
             <div class="card">
               <div class="card-image">
                 <img src="back.jpg">
                    
               </div>
               <div class="card-content">
                 <span class="card-title">Card Title</span>
                 <p></p>
               </div>
               <div class="card-action">
                 <button data-target="modal1" class="btn modal-trigger">BUY</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
               </div>
             </div>
           </div>
          </div>
  </div>
      </div>
    </div>
  

    
      </div>
    </div>
    <div class="section black">
      <div class="row container">
        
        <p><font color="white" size="4"> <i class="small material-icons">call</i>CONTACT:+91 98765 56891</font></p>
        <p><font color="white" size="4">FOLLOW US ON:</font></p>
        <p><font color="white" size="4"><a href="#" class="fa fa-facebook"></a>www.facebook.com/GYMKHANA PAGE/page/124677</font></p>
        <p><font color="white" size="4"><a href="#" class="fa fa-instagram"></a>www.instagram.com/GYMKHANA PAGE/page/689042</font></p>
      </div>
      </div>
    
        <!--JavaScript at end of body for optimized loading-->
       <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       <script>$(".dropdown-trigger").dropdown();
        $(document).ready(function(){
    $('.carousel').carousel();
  });
         $(document).ready(function(){
    $('.modal').modal();
  });
         
      $(document).ready(function(){
    $('.parallax').parallax();
  });
        
      </script>
       </body>
  </html>
        


        
